@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  text-align: center;
  font-family: 'Montserrat';
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}

.logo {
  height: 100px;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation div {
  text-decoration: none;
  margin-right: 50px;
  line-height: 100px;    
  font-size: 30px;
  cursor: pointer;
}

.content {
  margin-top: 100px;
}

.city {
  grid-column: 2;
}

.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.toggle-btn {
  width: 100%;
  height: 40px;
  font-size: 25px;
  background-color: lightblue;
  border: 1px solid black;
  margin: 20px 0 ;
}

.bigger-text {
  font-size: 30px;
  cursor: pointer;
}

.city-info {
  transition: height .3s ease;
  height: 0px;
  overflow: hidden;
}